.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
.section-0 {
    text-transform: uppercase;
    background-color: #232323;
    color: #fff;
    padding: 0px 0px;
}
.section-0 span {
    color: #f33f3f;
}
.section-0 h6 {
    font-size: 24px;
    font-weight: 800;
    line-height: 81px;
    margin: 0px;
}
.section-1 h1 {
    text-transform: uppercase;
    font-size: 50px;
}
.header a {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    padding: 28px 0 32px 0;
    margin: 0 15px;
    font-size: 14px;
    display: inline-block;
    position: relative;
}
.header a:hover {
    border-color: #f33f3f;
}
.header a:hover:before,.header a.active:before {
    /* opacity: 1; */
    bottom: 0px;
    height: 4px;
    transition: all 0.5s;
    background: #eb200e;
}
.header a:before {
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 28px;
    background: #eb200e00;
    /* opacity: 0; */
    /* transition: all 0.5s; */
}
.header a.active {
    border-color: #f33f3f;
}

.navigation {
    text-align: right;
}

.section-0.whiteHeader {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #fff;
    box-shadow: 0px 0px 7px 7px #00000014;
}
.section-0.whiteHeader .col-lg-8 a {
    color: #333;
   
}
.section-0.whiteHeader .col-lg-8 a:hover {
    color: #f33f3f;
}
.section-0 .col-lg-8 a.active {
    color: #f33f3f;
}
.section-0.whiteHeader h6 {
    color: #333;
}
.section-2 h2 {
    font-size: 30px;
}
.stars li {
    color: #f33f3f;
    display: inline-block;
}
.inside-content {
    padding: 25px;
    position: relative;
    border: thin solid #eee;
    margin-bottom: 45px;
    border-bottom: 1px solid #eee;
}
.inside-content span {
    position: absolute;
    right: 30px;
    bottom: 43px;
    font-size: 13px;
    color: #f33f3f;
    font-weight: bolder;
}
.inside-content h4 {
    color: #1a6692;
    font-size: 22px;
    display: inline-block;
    margin-bottom: 20px;
}
.inside-content p {
    margin-bottom: 30px;
    font-weight: 200;
    color: #4a4a4a;
    /* margin: 0; */
}
.inside-content h6 {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 17px;
}
.latest-product img {
    width: 100%;
}
.heading {
    border-bottom: thin solid #eee;
    margin-bottom: 60px;
}
.heading a {
    float: right;
    margin-top: -28px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
    color: #f33f3f;
    text-decoration: none;
}
.heading-1 h2 {
    font-size: 28px;
    border-bottom: thin solid #eee;
    padding-bottom: 10px;
    margin-top: 50px;
}
img {
    width: 100%;
}
.para h6 {
    color: #1a6692;
    font-size: 22px;
}
.para p {
    font-weight: 200;
    padding-top: 10px;
    color: #4a4a4a;
}
.container.underline {
    border-bottom: thin solid #eee;
}
ul.points {
    font-weight: 300;
    list-style-type: square;
    margin-bottom: 51px;
    padding: 0px 18px;
}
ul.points li {
    padding-bottom: 10px;
}
.points a {
    text-decoration: none;
    color: #4a4a4a;
    transition: all 0.5s;
}
.points a:hover {
    color: #f33f3f;
}
.about-sixteen button {
    background-color: #f33f3f;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 60px;
    transition: all 0.5s;
}
.about-sixteen button:hover {
    background-color: black;
}
section.container-fluid.about {
    padding-bottom: -56px;
}
.heading-2 {
    background-color: #f7f7f7;
    padding: 35px 24px 19px 31px;
    border-radius: 5px;
}
.heading-2 h2 {
    font-size: 21px;
    color: #1a6692;
}
.heading-2 p {
    color: #4a4a4a;
    font-weight: 300;
}
.heading-2 button {
    background-color: #f33f3f;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.5s;
    border: none;
    outline: none;
    margin-top: 6px;
}
.heading-2 button:hover {
    background-color: black;
}
.row.color {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 20px;
}
footer a {
    text-decoration: none !important;
    color: #f33f3f;
    font-size: 14px;
}
footer p {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 300;
}

.col-lg-12.images {
    border-bottom: thin solid #eee;
    padding: 0px 0px 15px 0px;
    margin-bottom: 50px;
}
.product .images a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: all 0.5s;
    margin: 0px 10px;
}
.product a:hover {
    color: #f33f3f;
}
i.fa.fa-angle-right {
    margin: 4px;
}
.pages a {
    padding: 0px;
    width: 44px;
    height: 44px;
    display: inline-block;
    line-height: 42px;
    border: 1px solid #eee;
    font-weight: 700;
    color: #121212;
    transition: all .3s;
    text-decoration: none;
}
.pages a:hover {
    background-color: #f33f3f;
    border-color: #f33f3f;
    color: #fff;
}
.pages a.active {
    background-color: #f33f3f;
    border-color: #f33f3f;
    color: #fff;
}

.top h2 {
    color: #fff;
    font-size: 62px;
    text-transform: uppercase;
    font-weight: 600;
}
.banner-title h6 {
    color: #f33f3f;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 0px;
}
.banner-title {
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
}
.about-section-2 h2 {
    font-size: 28px;
}
.heading-one {
    border-bottom: thin solid #eee;
    margin-bottom: 48px;
}
section.container-fluid.about-sixteen .container {
    padding-top: 20px;
}
.about-sixteen h6 {color: #1a6692;font-size: 20px;font-weight: 500;line-height: 40px;}

.about-sixteen p {
    color: #4a4a4a;
    font-weight: 300;
}
.heading-one h2 {
    font-size: 28px;
}
.content.team-members h5 {
    color: #f33f3f;
    font-size: 13px;
    font-weight: 800;
    line-height: -40px;
}
.content.team-members h4 {
    color: #1a6692;
    font-size: 17px;
    font-weight: 800;
    margin: 13px;
}
.content.team-members p {
    font-size: 15px;
    line-height: 24px;
    padding: 15px;
    color: #4a4a4a;
}
.content.team-members.text-center {
    border: thin solid #eee;
    display: block;
    margin-bottom: 30px;
}
p.underline {
    border-bottom: thin solid #eee;
    padding-bottom: 10px;
}
ul.social-media {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul.social-media li a {
    /* display: inline-block; */
    display: inline-block;
    color: #333;
    transition: all .5s;
}
ul.social-media li:hover a {
    color: #fff;
}
.social-media li {
    display: inline-block;
    width: 45px;
    background-color: #eee;
    height: 45px;
    text-align: center;
    font-size: 18px;
    line-height: 47px;
    transition: all 0.5s;
    margin: 4px;
}
.social-media li:hover {
    background-color: #f33f3f;
}
p.para {
    border-bottom: thin solid #eee;
    padding-bottom: 10px;
    height: 218px;
    overflow: auto;
}
.col-lg-4.para.\32 {
    line-height: 30px;
}
ul.callbacks_tabs.callbacks1_tabs {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    bottom: 10px;
    z-index: 8;
}
ul.callbacks_tabs.callbacks1_tabs li {
    display: inline-block;
}
ul.callbacks_tabs.callbacks1_tabs li a {
    height: 13px;
    width: 13px;
    background-color: #ffffff78;
    display: inline-block;
    border-radius: 14px;
    margin: 0 7px;
    font-size: 0px;
    vertical-align: top;
}
ul.callbacks_tabs.callbacks1_tabs li.callbacks_here a {
    background-color: #f33f3f;
}
ul.social-media-icons {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    transform: scale(0);
    margin: 0;
    line-height: 14;
    text-align: center;
    background: #f33f3fe6;
    transition: all 0.5s;
}
ul.social-media-icons li {
    display: inline-block;
    width: 45px;
    background-color: #eee;
    height: 45px;
    text-align: center;
    line-height: 42px;
}
ul.social-media-icons li a i {
    color: #333;
    font-size: 21px;
    line-height: 46px;
    transition: all 0.5s;
}
ul.social-media-icons li:hover a i {
    color: #f33f3f;
}
.hover-box {
    position: relative;
    overflow: hidden;
}
.hover-box:hover ul.social-media-icons {
    opacity: 1;
    left: 0;
    right: auto;
    width: 100%;
    transform: scale(1);
}
.icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #f33f3f;
    line-height: 100px;
    font-size: 35px;
    color: #fff;
}
.service-icon {
    padding: 50px;
    background-color: #fff;
}
.down-content {
    background-color: #fff;
}
.down-content p {
    font-weight: 300;
    color: #4a4a4a;
    line-height: 25px;
    margin-bottom: 25px;
}
.down-content h4 {
    color: #1a6692;
    font-size: 17px;
    font-weight: 800;
}
.down-content a button {
    background-color: #f33f3f;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 45px;
    transition: all 0.5s;
}
.down-content a button:hover {
    background-color: black;
}
/* section.service {
    background-image: url("../images/services-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px;
} */

.about-section1 {
    background-image: url("../images/about-heading.jpg");
}

.product-section1 {
    background-image: url("../images/products-heading.jpg");
}

.contact-section1 {
    background-image: url("../images/contact-heading.jpg");
}

.contact-section1,.about-section1,.product-section1{
    height: 282px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-form input {
    width: 100%;
    margin-bottom: 30px;
    height: 40px;
    font-size: 14px;
    border: thin solid #eee;
    outline: none;
    padding: 0px 0px 0px 15px;
}
.contact-form textarea {
    font-size: 14px;
    width: 100%;
    min-width: 100%;
    min-height: 120px;
    height: 120px;
    max-height: 180px;
    border: 1px solid #eee;
    border-radius: 0px;
    margin-bottom: 30px;
    outline: none;
    padding: 8px 0px 0px 15px;
}
.contact-form button {
    background-color: #f33f3f;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 6px;
    transition: all 0.5s;
}
.contact-form button:hover {
    background-color: black;
}
.inner-content2 li {
    list-style: none;
}
.inner-content2 a {
    color: #1a6692;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s;
}
.inner-content2 a:hover {
    color: #f33f3f;
}
.inner-content2 h2 {
    font-size: 22px;
}
.inner-content2 p {
    color: #4a4a4a;
    font-weight: 200;
    font-size: 16px;
}
.inner-content2 a.active {
    color: #f33f3f;
}
.responsive-map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.responsive-map iframe {
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    height: 330px;
}
.filter-button {
    font-size: 18px;
    text-align: center;
    color: #000000;
    /* margin-bottom: 30px; */
    font-weight: 700;
    outline: none !important;
    border: none;
    box-shadow: none !important;
}
.filter-button:hover {
    font-size: 18px;
    text-align: center;
    color: #f33f3f;
}
.btn-default:active .filter-button:active {
    color: white;
}
.port-image {
    width: 100%;
}
.gallery {
    border-bottom: thin solid #eee;
    margin-bottom: 45px;
}
div img {
    object-fit: cover;
    max-width: 100%;
}
#owl-demo .item {
    background: #fff;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    padding: 0px 20px;
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
    float: left;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.owl-carousel .col-lg-4 {
    width: 100%;
}
.owl-carousel .col-md-3 {
    width: 100%;
}
.owl-carousel .col-sm-4 {
    width: 100%;
}
.owl-carousel .col-xs-6-12 {
    width: 100%;
}
.owl-carousel .product {
    padding: 0px !important;
}
.owl-carousel .product .product_info {
    top: 32% !important;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.owl-controls .owl-page {
    cursor: pointer;
}
.owl-controls .owl-buttons div {
    cursor: pointer;
}
.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}
.owl-item .item {
    margin: 0 10px;
}
.slider-items {
    position: relative;
}
.slider-items .item {
    text-align: center;
}
.slider-items .owl-buttons a {
    background: #fff;
    display: block;
    height: 38px;
    margin: 0px 0 0 -30px;
    position: absolute;
    top: 50%;
    width: 38px;
    z-index: 5;
    color: #888;
    border: 1px #eaeaea solid;
}
.slider-items .owl-buttons .owl-prev {
    position: absolute;
    left: -13px;
    top: 30%;
}
.slider-items .owl-buttons .owl-prev a:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    speak-as: none;
    -webkit-font-smoothing: antialiased;
    content: "\f104";
    text-transform: none;
    font-size: 26px;
    line-height: 35px;
    padding: 6px 6px 6px 6px;
}
.slider-items .owl-buttons .owl-next {
    position: absolute;
    right: -32px;
    top: 30%;
}
.slider-items .owl-buttons .owl-next a {
    top: 50%;
    padding: 2px;
}
.slider-items .owl-buttons .owl-next a:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    speak-as: none;
    -webkit-font-smoothing: antialiased;
    content: "\f105";
    text-transform: none;
    font-size: 24px;
    padding: 6px 6px 6px 6px;
    line-height: 30px;
}
.owl-buttons {
    opacity: 1;
}
.product-flexslider {
    margin: 5px -10px;
}
.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 8px;
    height: 15px;
    margin: 5px 2px;
    filter: Alpha(Opacity=50);
}
.owl-theme .owl-controls .owl-page.active span {
    filter: Alpha(Opacity=100);
    opacity: 1;
}
.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 1px 0;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);
    opacity: 1;
    display: none;
}
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
}
.owl-pagination {
    /* top: -26px; */
    text-align: center;
    position: absolute;
    /* right: 15px; */
    background: #383838;
    padding-left: 10px;
    display: none;
}
section.home-instagram.wow.fadeIn div.owl-pagination {
    right: 0;
}
.accordion-container {
    position: relative;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
}
.accordion-container >h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.set {
    position: relative;
    width: 100%;
    height: auto;
}
.set >a {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: #1a6692;
    font-weight: 600;
    border-top: 1px solid #eee;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.5s linear;
}
.set >a i {
    float: right;
    margin-top: 2px;
}

.filter-button.active {
    color: #eb200e;
}

.inner-content2 .content {
    display: none;
}


.purchase .col-lg-4 {
    text-align: right;
}
section.container-fluid.purchase {
    padding: 40px 0px;
}